.app {
  max-width: 920px;
  padding: 32px;
  background-color: var(--color-white);
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;

  @media (min-width: 920px) {
    margin: 0 auto;
    padding-left: 48px;
    border-radius: 25px;
  }
}
